<app-adminnavbar></app-adminnavbar>
<div class="container">
    <div class="row div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row g-3 mt-4">
            <h1 class="text-center bg-warning"><u>View Employee</u></h1>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Address</th>
                        <th>PhNo</th>
                        <th>Email</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of data">
                        <th>{{i.empcode}}</th>
                        <td>{{i.empname}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.phno}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.username}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
